@model IEnumerable<BusinessLayer.ViewModels.UserViewModel>
@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light p-3">
                    <li class="breadcrumb-item"><a href="~/Admin/Index">Admin Page</a></li>
                    <li class="breadcrumb-item active">Users</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="~/User/UserForm" class="btn btn-primary">Add New</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">Role</th>
                        <th scope="col">Id</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>@user.Email</td>
                            <td>@user.Password</td>
                            <td>@user.Role.Name</td>
                            <td>@user.Id</td>
                            <td></td>
                            <td></td>
                            <td>
                                <form method="get">
                                    <input type="hidden" name="Id" value="@user.Id" />
                                    <input class="btn btn-warning" type="submit" value="Edit" formaction="~/User/UserForm" />
                                </form>
                            </td>
                            <td>
                                <form method="post">
                                    <input type="hidden" name="Id" value="@user.Id" />
                                    <input class="btn btn-danger" type="submit" value="Delete" formaction="~/User/DeleteUser" />
                                </form>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
                           